* {
    font-family: "Roboto";
}

/* Estilos nav */
.logo  { 
    width: 70px;
    height: 70px;
} 

img.logo:hover {
    border-style: dotted;
    color: blue;
    padding: 10px;
}

header {
    margin-top: 30px;
}

.menu-elementos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 1.5rem;
    line-height: normal;
}

.menu-elementos li {
    list-style: none;
    margin-right: 20px;
}

.menu-elementos a:hover {
    border-style: dotted;
    border-color: blue;
    padding: 10px;
    color: blue;
}

.menu-elementos a {
    text-decoration: none;
    color: black;
}

.menu-responsive {
    display: flex;
    justify-content: flex-end;
}

/* Estilos banner principal */
.texto-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px!important;
}

.texto-banner h1 {
    color: black;
    font-weight: 800;
    font-size: 3rem;
}

.banner-boton {
    text-decoration: none;
    border-style: dotted;
    border-color: blue;
    padding: 10px;
    color: blue;
    font-size: 14px;
    text-align: center;
    width: 10rem;
}

a.banner-boton:hover {
    background-color: blue;
    color: #FFF;
    border-style: dotted;
    border-color: #FFF;
}

.img-banner img {
    width: 90%;
}



/* Estilos seccion novedades y autores */
.titulo h2 {
    font-weight: 800;
}

section h6 {
    margin: 10px 0;
    font-weight: 800;
}

.principal {
    margin-bottom: 80px;
}

.titulo hr {
    border: dotted blue;
    opacity: inherit;
    background-color: white;
}

.prev-index {
    font-size: 16px;
    height: auto;
}

.notas {
    display: flex;
    justify-content: flex-start;
}

.notas a {
    color:black;
}

.notas div img {
    width: 100%;
}


/* Estilos footer */

footer {
    bottom:0!important;
    width: 100%;
    height: auto!important;
    background-color: blue;
    display: flex;
    justify-content: space-around;
}
.datos {
    bottom:0;
    background-color: blue;
    font-size: 24px;
    padding: 30px 0;
    line-height: normal;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

footer div a {
    color: #FFF;
    text-decoration: none;
    align-items: center;
}

.sociales {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ciudad {
    display: flex;
    justify-content: end;
    text-align: right;
}


/* ESTILOS PAGINA NOSOTROS */

.elementos-nosotros {
    width: 70%;
    margin: 0 auto;
    padding: 100px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 16px;
}

h1 {
    color: blue;
    font-size: 40px;
}

.elementos-nosotros img {
    width: 90%;
}


/* ESTILOS PAGINA CATALOGO AUTORES */

.titulo{
    display: flex;
    align-items: center;
    margin: 50px 0px;
}

.libros {
    margin-bottom: 100px;
}

.prev {
    text-align: center;
    padding: 20px 0;
}

.prev img {
    width: 60%;
    padding-bottom: 20px;
}

.prev-autor h5 {
    font-size: 20px;
    font-weight: 800;
    margin: 10px 0;

}

.prev-link {
    font-size: 14px;
    color: blue;
    margin: 0;
}

.autores {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.autores a {
    color:black;
}

.autores img {
    width: 100%;
}


 /* ESTILOS PAGINA CONTACTO */

.elementos-contacto {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 50% 50%;
    padding-top: 100px;
    padding-bottom: 120px;
    width: 70%;
}

.formulario {
    padding: 50px 0;
}

.form {
    display: block;
    width: 90%;
}

.mapa iframe {
    width: 90%;
}

input {
    height: 30px;
    border-color: blue;
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 14px;
	padding-left: 10px;
}

textarea {
    border-color: blue;
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 14px;
	border-width: 2px;
	padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px;
    height: 200px;
    width: 90%;
}

.btn-enviar, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.btn-enviar {
    width: 20%;
    height: 40px;
    border: blue;
    border-style: dotted;
    background-color: white;
    color: black;
}

.btn-enviar:hover {
    background-color: blue;
    border-style: dotted;
    border-color: white;
    color: white;
}

@media (max-width: 990px) {
    .menu-elementos {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }

}

@media (max-width: 768px) {
    .texto-banner {
        padding-left: 20px!important;
    }

    .img-banner img {
        width: 100%;
    }

    .titulo hr {
        margin: 0 15px;
        align-items: center;
        width: 90%;
    }

    .ciudad {
        justify-content: center;
    }

    .derecho {
        justify-content: center;
        text-align: center;
    }

    .sociales {
        padding-bottom: 20px;
    }

    .elementos-nosotros {
        width: 90%;
        margin: 0 auto;
        padding: 50px 0;
        display: grid;
        grid-template-columns: auto;
        font-size: 14px;
    }

    .elementos-nosotros>.nos-1:nth-child(1) {
        order: 1;
      }
    
    .nos-1 {
        display: flex;
        justify-content: center;
    }

    .elementos-contacto {
        display: grid;
        margin: 0 auto;
        grid-template-columns: auto;
        padding-top: 0;
        padding-bottom: 60px;
        width: 90%;
    }
    
    .form {
        display: block;
        width: 100%;
    }
    
    .mapa iframe {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    textarea {
        width: 100%;
    }

    .formulario {
        padding-bottom: 20px;
    }

    .btn-enviar {
        width: 15%;
    }

  }

@media (max-width: 320px) {
    .texto-banner h1 {
        font-size: 1.8rem;
        padding-top: 40px;
    }

    .banner-boton {
        width: 7rem;
        font-size: 12px;
    }

    .titulo {
        margin-bottom: 20px;
    }

    .principal {
        margin-bottom: 50px;
    }

    .btn-enviar {
        width: 30%;
    }

  }
